.github
.gitlab
.gitea
.forgejo
.git
Dockerfile
Dockerfile.base
Dockerfile.ci
Dockerfile.dev
docker-compose.yml
docker-compose.stack.yml
.env
.env.*
.editorconfig
.gitignore
.mergify.yml
.rgignore
LICENSE
Makefile
README.md
renovate.json

.hugo_build.lock
hugo_stats.json
ltex.*.txt
images/
public/
node_modules/
resources
docker
